body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav,
ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 50px;
}
